@page
@model EsafyCapcitacion.Pages.Classes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CapacitationClass[0].CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacitationClass[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacitationClass[0].Modified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CapacitationClass) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CapacitationClassId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CapacitationClassId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CapacitationClassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
