@page
@model EsafyCapcitacion.Pages.Companies.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="card card-body">
    <div class="card card-header">
        <div class="row">
            <div class="col-11">
                <h4>
                    Empresas registradas
                </h4>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-sm btn-success float-right" data-toggle="modal" data-target="#myModal2">
                    <i class="fa fa-plus-circle"></i>
                </button>
            </div>
        </div>
    </div>
    <hr />
    <table class="table table-hover table-bordered border-primary" id="datata">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyList[0].CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyList[0].Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyList[0].Modified)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CompanyList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modified)
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a asp-page="./Edit" class="btn btn-sm btn-warning" asp-route-id="@item.CompanyId"><i class="fa fa-edit"></i></a>
                            <a asp-page="./Details" class="btn btn-sm btn-info" asp-route-id="@item.CompanyId"><i class="fa fa-eye"></i></a>
                            <a asp-page="./Delete" class="btn btn-sm btn-danger" asp-route-id="@item.CompanyId"><i class="fa fa-times"></i></a>
                            <a asp-page="/Students/Index" class="btn btn-sm btn-success" asp-route-coid="@item.CompanyId"><i class="fa fa-users"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="bg-light">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    <hr />
</div>



@* ******************************************************* *@
<div class="container">
    <!-- Button to Open the Modal -->
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
        Agregar Acción
    </button>*@
    <!-- Button to Open the Modal -->
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
        Avanzar etapa <i class=""></i>
    </button>*@

    <!-- The Modal -->
    <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Empresa</h4>
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="NewCompany.CompanyName" class="control-label"></label>
                            <input asp-for="NewCompany.CompanyName" class="form-control" />
                            <span asp-validation-for="NewCompany.CompanyName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" value="Guardar" class="btn btn-success"><i class="fa fa-save"></i> </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar<i class="fa fa-times"></i></button>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    
                </div>

            </div>
        </div>
    </div>

</div>