@page
@model EsafyCapcitacion.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.CompanyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.CompanyId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.ShortName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.ShortName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Modified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Modified)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.PersonId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
