@page
@model EsafyCapcitacion.Pages.Answers.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="card card-body">
    <div class="card card-header">
        <div class="row">
            <div class="col-11">
                <h4>
                    Listado de respuestas
                </h4>
            </div>
            <div class="col-1">
                <a asp-page="Create" class="btn btn-sm btn-success float-right">
                    <i class="fa fa-plus-circle"></i>
                </a>
            </div>
        </div>
    </div>
    <hr />


    <hr />
    <table class="table table-hover table-bordered border-primary" id="datata">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Answer[0].CourseId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Answer[0].CourseTestId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Answer[0].TestQuestionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Answer[0].QuestionOptionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Answer[0].StudentId)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Answer)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseTestId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestQuestionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionOptionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentId)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a asp-page="./Edit" class="btn btn-sm btn-warning" asp-route-id="@item.AnswerId"><i class="fa fa-edit"></i></a>
                            <a asp-page="./Details" class="btn btn-sm btn-info" asp-route-id="@item.AnswerId"><i class="fa fa-eye"></i></a>
                            <a asp-page="./Delete" class="btn btn-sm btn-danger" asp-route-id="@item.AnswerId"><i class="fa fa-times"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="bg-light">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    <hr />
</div>

@* ******************************************************* *@
