@page
@model EsafyCapcitacion.Pages.Options.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>QuestionOption</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-cuid="@ViewBag.CourseId" asp-route-teid="@ViewBag.TestId" asp-route-quid="@ViewBag.QuestionId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionOption.TestQuestionId" class="control-label"></label>
                <input asp-for="QuestionOption.TestQuestionId" class ="form-control" value="@ViewBag.TestId" disabled />
            </div>
            <div class="form-group">
                <label asp-for="QuestionOption.QuestionText" class="control-label"></label>
                <input asp-for="QuestionOption.QuestionText" class="form-control" />
                <span asp-validation-for="QuestionOption.QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="QuestionOption.IsCorrectAns" /> @Html.DisplayNameFor(model => model.QuestionOption.IsCorrectAns))
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
