@page
@model EsafyCapcitacion.Pages.Options.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuestionOption</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionOption.QuestionText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionOption.QuestionText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionOption.IsCorrectAns)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionOption.IsCorrectAns)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.QuestionOption.QuestionOptionId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
